<f:for each="{timelines}" as="timeline" iteration="iterator">

    <f:for each="{timeline.categories}" as="category">
        <f:if condition="{iterator.cycle} == 1">
            <f:then>
                <li class="{category.title}_event active">

            </f:then>
            <f:else>
                <li class="{category.title}_event">
            </f:else>
        </f:if>

        <f:switch expression="{category.title}">
            <f:case value="Football"><div class="event_icn fa fa-futbol-o icon-foot"></div></f:case>
            <f:case value="Balades"><div class="event_icn fa fa-map-marker icon-map"></div></f:case>
            <f:case value="Ewen"><div class="event_icn ewen icon-ewen"></div></f:case>
            <f:case default="TRUE"><div class="event_icn icon-custom"></div></f:case>
        </f:switch>
    </f:for>


        <div class="event_content ">
            <h2>{timeline.title}</h2>
            <p>
                {timeline.message}
            </p>

            <hr class="hr-style1">

            <p><a href="#m" class="MT-readmore">Lire la suite</a></p>
        </div>
        <div class="event_date">
            <p>{timeline.entrydate -> f:format.date(format: 'd/m/Y')}</p>
        </div>
    </li>
</f:for>