<f:for each="{timelines}" as="timeline" iteration="iterator">

    <f:for each="{timeline.categories}" as="category">
        <f:if condition="{iterator.cycle} == 1">
            <f:then>
                <li class="{category.title}_event active">
                    <div class="event_icn icon-{category.title}"></div>
            </f:then>
            <f:else>
                <li class="{category.title}_event">
                    <div class="event_icn icon-{category.title}"></div>
            </f:else>
        </f:if>
    </f:for>


        <div class="event_content ">
            <h2>{timeline.title}</h2>
            <p>
                {timeline.message}
            </p>

            <hr class="hr-style1">

            <p><a href="#m" class="MT-readmore">Lire la suite</a></p>
        </div>
        <div class="event_date">
            <p>{timeline.entrydate -> f:format.date(format: 'd/m/Y')}</p>
        </div>
    </li>
</f:for>