<f:for each="{timelines}" as="timeline" iteration="iterator">
    <f:if condition="{iterator.cycle} == 1">
        <f:then>
            <li class="custom_event active">
        </f:then>
        <f:else>
            <li class="custom_event">
        </f:else>
    </f:if>

        <div class="event_icn icon-custom"></div>
        <div class="event_content ">
            <h2>{timeline.title}</h2>
            <p>
                {timeline.message}
            </p>

            <hr class="hr-style1">

            <p><a href="#m" class="MT-readmore">Lire la suite</a></p>
        </div>
        <div class="event_date">
            <p>{timeline.entrydate -> f:format.date(format: 'd/m/Y')}</p>
        </div>
    </li>
</f:for>