
<f:layout name="Timeline" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<header>
		<nav>
			<ul id="main_nav">
				<li class="active all icon-all" data-title="all" title="All"></li>
				<!--<li class="icon-address active" data-title="life" title="Life Events">
				</li>
				<li class="icon-graduation-cap active" data-title="education" title="Education">
				</li>
				<li class="icon-briefcase active" data-title="work" title="Work">
				</li>
				<li class="icon-user active" data-title="user" title="Additional Info">
				</li>-->
				<li class="fa-map-marker icon-fa-map-marker active" data-title="Balades" title="Balade">
				</li>
				<li class="ewen icon-ewen active" data-title="Ewen" title="Ewen">
				</li>
				<li class="fa-futbol-o icon-fa-futbol-o active" data-title="Football" title="Football">
				</li>
				<li class="icon-custom active" data-title="custom" title="Custom">
				</li>
			</ul> <!-- end of #main_nav -->
			<ul id="nav_ctrl">
				<li class="icon-up-open" data-title="Next">
				</li>
				<li class="icon-down-open" data-title="Previous">
				</li>
			</ul> <!-- end of #nav_ctrl -->
		</nav> <!-- end of nav -->
	</header> <!-- end of Header -->

	<div class="header-image">
		<figure id="user_image">
			<img src="/fileadmin/Ewen/images/fablo.jpg" title="Fabienne et Loïc" alt="Fabienne et Loïc"/> <!-- change user image here-->
		</figure>
		<h1>Fabienne et Loïc <br/><span>Journal de bord</span> </h1>
	</div> <!-- end of avtar circle header -->

	<ul id="myevents">

		<f:render partial="Timeline/Items" arguments="{timelines:timelines, categories:categories}" />

	</ul> <!-- end of #Myevent  -->



	<table  class="tx_mytimeline" >
	<tr>
		<th><f:translate key="tx_mytimeline_domain_model_timeline.title" /></th>
		<th><f:translate key="tx_mytimeline_domain_model_timeline.entrydate" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{timelines}" as="timeline">
		<tr>
			<td><f:link.action action="timeline" arguments="{timeline : timeline}"> {timeline.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{timeline : timeline}"> {timeline.entrydate -> f:format.date(format: 'd/m/Y')}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{timeline : timeline}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{timeline : timeline}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Timeline</f:link.action>
</f:section>