
<div class="tx-mytimeline">
	<div class="wrap_container">
		<div id="instructions_container">
			Use Keys <strong>'J'</strong> and <strong>'K'</strong> to navigate through the timeline or click on <strong>Arrows.</strong>
		</div><!-- of #instructions_container -->

		<!-- Main personal timeline product code start here -->
		<div id="timeline_container">
			<f:render section="main" />
		</div><!-- #timeline_container -->
		<!-- Main personal timeline product code End here -->
	</div>
	<!-- end of container class -->
</div>