#myevents>li div.event_icn.icon-foot,
#timeline_container>header nav li.fa-futbol-o.active,
#timeline_container>header nav li.fa-futbol-o:active {
    background-color:grey;
    color:black;
}

#myevents>li div.event_icn.icon-map,
#timeline_container>header nav li.fa-map-marker.active,
#timeline_container>header nav li.fa-map-marker:active {
    background-color:yellowgreen;
    color:white;
}