#myevents>li div.event_icn.icon-foot,
#timeline_container>header nav li.fa-futbol-o.active,
#timeline_container>header nav li.fa-futbol-o:active {
    background-color:grey;
    color:black;
}

#myevents>li div.event_icn.icon-map,
#timeline_container>header nav li.fa-map-marker.active,
#timeline_container>header nav li.fa-map-marker:active {
    background-color:yellowgreen;
    color:white;
}

.icon-ewen {
    background: url('/typo3conf/ext/mytimeline/Resources/Public/Icons/icon-ewen-big.jpg');

    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: 1.2em;
    margin-right: .1em;
    text-align: center;
    opacity: .9;
    line-height: 1em;
    margin-left: .2em;
}