#myevents>li div.event_icn.icon-foot,
#timeline_container>header nav li.fa-futbol-o.active,
#timeline_container>header nav li.fa-futbol-o:active {
    background-color:grey;
    color:black;
}

#myevents>li div.event_icn.icon-map,
#timeline_container>header nav li.fa-map-marker.active,
#timeline_container>header nav li.fa-map-marker:active {
    background-color:yellowgreen;
    color:white;
}

#myevents>li div.event_icn.icon-ewen,
.icon-ewen {
    width:40px;
    height:40px;
    vertical-align: bottom;
}

#myevents>li div.event_icn.icon-ewen,
.icon-ewen {
    background: url('/typo3conf/ext/mytimeline/Resources/Public/Icons/icon-ewen-big.jpg');
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .1em;
    text-align: center;
    opacity: .9;
    line-height: 1em;
    margin-left: .2em;
}

#myevents>li div.event_icn.icon-ewen {
    margin-left:-18px;
}

#timeline_container>header nav li.icon-ewen:hover {
    background-color: transparent;
    background: url('/typo3conf/ext/mytimeline/Resources/Public/Icons/icon-ewen-big.jpg');
    opacity: .6;
}

